<section class="main-article">
    <ul class="article-list">
        <li class="article-item article-title"> Title: {{article.title}}</li>
        <img class="article-image" [src]="article.image" [alt]="article.title" />
        <li class="article-item"> Content: {{article.content}}</li>
        <li class="article-item"> Created at: {{article.createdAt}}</li>
        <li class="article-item"> Likes: {{article.likeCount}} </li>
        <li class="article-item"> Category name: {{article.categoryName}} </li>
    </ul>
</section>
